@font-face {
    font-family: 'TWOZARBII';
    font-style: normal;
    font-weight: 400;
    src:
        local('TwoZarbii'),
        url('./fonts/TWOZARBII-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Univers';
    font-style: normal;
    font-weight: 300;
    src:
        local('Univers'),
        url('./fonts/Univers-light-normal.ttf') format('truetype');
}


body {
    font-family: 'Univers', sans-serif !important;
    //font-size: 20px !important;
    color: $color_text !important;
    //font-weight: 300 !important;
}

.font-secondary {
    font-size: 24px;
    font-family: 'Univers', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.font-tertiary {
    font-family: 'Univers', sans-serif;
    font-weight: 300;
}

.tt {
    font-family: 'TWOZARBII', serif;
    color: $color_text;
}

#sitename {
    @extend .tt;
    font-size: 24px;

    a {
        text-decoration: none;
    }
}
