@import '../../../sass/settings';

.issue--container {
    text-align: center;
    line-height: $vh-site;
    overflow-y: scroll;
}

.issue--full-height {
    /*margin: auto;
    display: block;*/
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.issue--cover {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}
