@import 'settings';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.sheet {
    padding: 34px 40px 50px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.sheet_header {
    margin: 0;
    padding: 0 0 32px;
}

.sheet-line {
    padding-bottom: 32px;
    font-size: 32px;
    line-height: 1.25;
}

.sheet-title {
    font-size: 2em;
    padding-bottom: 32px;
    text-transform: uppercase;
}

.sheet-line__number {
    flex-wrap: nowrap;
    min-width: 2em;
    padding-top: 4px;
}

.sheets-list {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    //overflow-y: scroll;
}

.sheet-bg {
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 50spx;
}


@include media-breakpoint-down(sm) {
    .sheet {
        padding: 16px 20px 25px !important;
    }
    .sheet-line {
        font-size: 24px;
    }    
}


#mc_embed_signup {
    margin-bottom: 50px;
}

#mc_embed_signup_scroll {
    //margin: auto;
    text-align: left;
    font-size: 24px;

    .d {
        position: absolute; left: -5000px;
    }
}

#mce-EMAIL {
    width: 220px;
}

.contact-section {
    padding-bottom: 40px;
}
.contact-section__header {
    padding-bottom: 0;
    margin-bottom: 10px;
}
